<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style_button.css">
</head>
<body>

<div class="container" style="display:flex; position:relative;width: 100%; border: none">
  <div class="row" style="margin: auto; margin-top: 1em; margin-bottom: 2em;">
      <button class="button">Gaming</button>
  </div>

  <div class="row" style="margin: auto; margin-top: 1em; margin-bottom: 2em;">
    <button class="button">Lol</button>
  </div>

  <div class="row" style="margin: auto; margin-top: 1em; margin-bottom: 2em;">
    <button class="button">Politics</button>
  </div>

  <div class="row" style="margin: auto; margin-top: 1em; margin-bottom: 2em;">
    <button class="button">Hello</button>
  </div>
</div>


</body>
</html>